<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unitySingleLine" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="unitySingleNamed" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="unityMultiNamed" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>


  <unitySingleLine xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UnityRnD.Core" />
    <assembly name="UnityRnD.Tom" />
    <namespace name="UnityRnD.Core" />
    <namespace name="UnityRnD.Tom" />
    <container>
      <register type="IGreeting" mapTo="Greetings" />
    </container>
  </unitySingleLine>

  <unitySingleNamed xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UnityRnD.Core" />
    <namespace name="UnityRnD.Core" />
    <container>
      <register type="IGreeting" mapTo="UnityRnD.Tom.Greetings, UnityRnD.Tom" name="tom" />
    </container>
  </unitySingleNamed>

  <unityMultiNamed xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="UnityRnD.Core" />
    <namespace name="UnityRnD.Core" />
    <container>
      <register type="IGreeting" mapTo="UnityRnD.Tom.Greetings, UnityRnD.Tom" name="tom"/>
      <register type="IGreeting" mapTo="UnityRnD.Stacey.Greetings, UnityRnD.Stacey" name="stacey"/>
      <register type="IGreeting" mapTo="UnityRnD.Michael.ChattyKathy, UnityRnD.Michael" name="michael"/>
    </container>
  </unityMultiNamed>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>

